<template>
  <button class="mdcButton mdc-button" ref="button" :style="customStyle" v-on:click="clicked" :class="{ dark: dark, disabled: disabled }" :tabindex="tabindex">
    <slot></slot>
  </button>
</template>

<script>
// import {MDCRipple} from '@material/ripple'
import { MDCRipple } from '@material/ripple/dist/mdc.ripple'

export default {
  name: 'MdcButton',
  props: {
    fill: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    big: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    href: {
      type: String,
      default: null
    },
    color: {
      type: String,
      default: null
    },
    backgroundColor: {
      type: String,
      default: null
    },
    tabindex: {
      type: [String, Number],
      default: -1
    }
  },
  data () {
    return {
      ripple: null
    }
  },
  mounted () {
    this.ripple = new MDCRipple(this.$refs.button)
  },
  computed: {
    customStyle () {
      let obj = {}
      if (this.fill) {
        obj.width = '100%'
        obj.height = '100%'
      } else {
        if (this.big) {
          obj.padding = '0 24px'
          obj['font-size'] = '22px'
          obj['height'] = '52px'
        }
      }
      if (this.color) {
        obj['color'] = this.color
      }
      if (this.backgroundColor) {
        obj['background-color'] = this.backgroundColor
      }
      return obj
    }
  },
  methods: {
    clicked (ev) {
      if (this.href) {
        window.location.href = this.href
      } else {
        this.$emit('click', ev)
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";
@import "@material/button/mdc-button";

.mdcButton {
  @include mdc-button-ink-color($mdc-theme-primary);
  @include mdc-states(rgba(255,255,255,0.4));

  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  height: 36px;
  padding: 0 16px;
}

.mdcButton:hover {
  background-color: rgba(255,255,255,0.06)
}

.mdcButton.dark {
  @include mdc-button-ink-color($mdc-theme-primary);
  @include mdc-states(rgba(99,186,158,0.4));
}
.mdcButton.dark:hover {
  background-color: rgba(99,186,158,0.06)
}
</style>
