<template>
  <div class="servicesList">
      <div class="list">
        <div class="services">
          <div class="service" v-for="(item, index) in services" :key="index" @click="selectService(item)">
            <div class="picture" :style="imageStyle(item)" :alt="item.name"></div>
            <div class="name">
              {{item.name}}
            </div>
            <i ref="icon"
              class="material-icons" tabindex="-1" role="button"> chevron_right </i>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
let gettext = window.gettext || function (s) { return s }

export default {
  name: 'ServicesList',
  props: {
    services: {
      type: Array,
      default: null
    }
  },
  methods: {
    imageStyle (service) {
      let style = {}
      if (service) {
        if (service.picture) {
          style['background-image'] = 'url(\'' + service.picture + '\')'
        }
      }
      return style
    },
    selectService (service) {
      if (service.is_unsubscribed) {
        alert(gettext('You already unsubscribed from') + ' ' + service.name)
      } else {
        // console.log('selecting service', service)
        this.$emit('serviceSelected', service)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

.servicesList {
  cursor: pointer;
  margin-top: 16px;
  background-color: $mdc-theme-secondary-bg;
  color: $mdc-theme-secondary;
  border-radius: 3px;

  .list {
    margin-bottom: 8px;
    clear: both;
    overflow: hidden;

    .services {
      overflow: hidden;

      .service {
        text-align: left;
        overflow: hidden;
        border-radius: 3px;
        padding: 8px;
        height: 42px;
        line-height: 42px;
        position: relative;

        > * {
          box-sizing: border-box;
        }

        .picture {
          height: 42px;
          width: 42px;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          float: left;
          padding-left: 8px;
          width: 20%;
        }
        .name {
          height: 42px;
          line-height: 42px;
          display: inline-block;
          padding: 0 8px;
          float: left;
          width: 70%;
        }
        .material-icons {
          line-height: 42px;
          float: left;
          width: 10%;
          text-align: right;
        }
      }
      .service:hover {
        background-color: #dedede;
      }
    }
  }
}
</style>
