<template>
  <div class="accountsCard">

    <div class="media" v-if="!hideMedia">
      <heart-beat
        v-if="remoteStep"
      >
        <img src="../../assets/logo.png" alt="logo" class="animated"/>
      </heart-beat>
      <img
        v-else
        src="../../assets/logo.png"
        alt="logo"
      />
      <div v-if="showStepCounter" class="stepCounter">
        <h5>{{step}}/{{steps}}</h5>
      </div>
    </div>

    <div class="content">
      <h3 v-if="error" class="text-xs-center step-error bold red--text py-3" v-html="error"></h3>
      <h3 v-else-if="description" class="text-xs-center description white--text py-3" v-html="description" ref="descriptionref"></h3>
      <slot></slot>
    </div>

    <div class="actions"
      v-if="!hideActions"
    >
      <mdc-button
        name="prev_step"
        class="backButton"
        v-if="(!firstStep && !hideBackButton && !remoteStep) || showBackButton"
        @click="$emit('backButtonPressed')"
        :tabindex="active ? 0 : -1"
        >
          {{ texts.backButtonText }}
      </mdc-button>
      <div class="divider"></div>
      <mdc-button
        name="next_step"
        class="nextButton"
        v-if="(!lastStep && !hideNextButton && !remoteStep) || showNextButton"
        @click="$emit('nextButtonPressed')"
        :tabindex="active ? 0 : -1"
        >
        {{ texts.nextButtonText }}
      </mdc-button>
    </div>
  </div>
</template>

<script>
import StepOperationStepMixin from '../mixins/StepOperationStepMixin'

import HeartBeat from '../animations/HeartBeat'
import MdcButton from '../elements/button/MdcButton'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'AccountsCard',
  mixins: [
    StepOperationStepMixin
  ],
  components: {
    HeartBeat,
    MdcButton
  },
  data () {
    return {
      texts: {
        backButtonText: gettext('Back'),
        nextButtonText: gettext('Continue')
      }
    }
  },
  props: {
    error: {
      type: String,
      default: null
    },
    hideActions: {
      type: Boolean,
      default: false
    },
    hideBackButton: {
      type: Boolean,
      default: false
    },
    showBackButton: {
      type: Boolean,
      default: false
    },
    showNextButton: {
      type: Boolean,
      default: false
    },
    hideNextButton: {
      type: Boolean,
      default: false
    },
    hideMedia: {
      type: Boolean,
      default: false
    },
    fillWidth: {
      type: Boolean,
      default: false
    },
    showStepCounter: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    if (this.$refs.descriptionref) {
      let children = this.$refs.descriptionref.children
      for (let i = 0; i < children.length; i++) {
        let nodeName = children[i].nodeName
        if (nodeName === 'A') {
          children[i].addEventListener('click', (event) => {
            event.preventDefault()
            this.$emit('link-clicked', event)
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";

.accountsCard {
  width: 264px;
  margin: auto;
  border-radius: 4px;
  color: $mdc-theme-primary;
  text-align: center;
  position: relative;
  z-index: 4;

  .media {
    img {
      display: block;
      width: 140px;
      height: 126px;
      margin: 24px auto
    }
  }
  .description {
    letter-spacing: normal;
    /* font-weight: normal*/
  }
  .description >>> a {
    color: $mdc-theme-primary;
    font-weight: bold;
  }
  .step-error >>> a {
    color: #f44336
  }
  .stepCounter {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 42px;
    font-size: 2em;
    color: $mdc-theme-primary;
  }
  .content {
    h3 {
      margin: 20px 0 16px;
    }
  }
  .backButton {
    float: left;
  }
  .nextButton {
    float: right;
  }

  /* IE11 (shit) patch */
  /*@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    margin: 0;
  }*/
}

.accountsCard.fillWidth {
  width: auto;
}

</style>
