<template>
<div class="loginView fillHeight">

  <swiper-js ref="swiper"
    :swipeable="false"
    :allow-slide-prev="false"
    :allow-slide-next="false"
    >

    <!-- fetching profile -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'fetch_profile'">
        <accounts-card
          remote-step
          :description="getStepDescription('fetch_profile')"
          :step-operation="stepOperation"
          step="fetch_profile"
        >
        </accounts-card>
      </div>
    </div>

    <!-- insert_credentials -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'insert_credentials'">
        <accounts-card
          first-step
          :step-operation="stepOperation"
          step="insert_credentials"
          :description="getStepDescription('insert_credentials')"
          :error="operationError"
          @nextButtonPressed="stepCompleted('insert_credentials', userCredentials)"
          @link-clicked="askFollowBasePathLink"
        >
          <mdc-text-field
            name="login"
            placeholder=".."
            ref="userCredentialsInput"
            v-model="userCredentials"
            :tabindex="activeStep === 'insert_credentials' ? 0 : -1"
            @submitted="stepCompleted('insert_credentials', userCredentials)"
          ></mdc-text-field>
        </accounts-card>
      </div>
    </div>

    <!-- check_credentials -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'check_credentials'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="check_credentials"
          :description="getStepDescription('check_credentials')"
        >
        </accounts-card>
      </div>
    </div>

    <!-- insert_password -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'insert_password'">
        <accounts-card
          :step-operation="stepOperation"
          step="insert_password"
          :description="getStepDescription('insert_password')"
          @nextButtonPressed="stepCompleted('insert_password', userPassword)"
          @backButtonPressed="goToStep('insert_credentials')"
        >
          <mdc-text-field
            name="password"
            type="password"
            placeholder=".."
            ref="userPasswordInput"
            v-model="userPassword"
            :tabindex="activeStep === 'insert_password' ? 0 : -1"
            @submitted="stepCompleted('insert_password', userPassword)"
          ></mdc-text-field>
        </accounts-card>
      </div>
    </div>

    <!-- perform_login -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'perform_login'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="perform_login"
          :description="getStepDescription('perform_login')"
        >
        </accounts-card>
      </div>
    </div>

    <!-- passepartout -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'passepartout'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="passepartout"
          :description="getStepDescription('passepartout')"
        >
        </accounts-card>
      </div>
    </div>

    <!-- fetch_services -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'fetch_services'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="fetch_services"
          :description="getStepDescription('fetch_services')"
        >
        </accounts-card>
      </div>
    </div>

    <!-- select_service -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'select_service'">
        <accounts-card
          hide-media
          hide-next-button
          hide-back-button
          :step-operation="stepOperation"
          step="select_service"
          :description="getStepDescription('select_service')"
          :error="userSubscriptionError"
        >
          <div class="servicesListView card">
            <div class="content">
              <div class="media">
                <user-avatar
                  :picture="getattr('picture')"
                  @pictureClicked="showProfile"
                >
                </user-avatar>
              </div>

              <h2 class="username">
                {{getattr('username')}}
              </h2>
              <h3 class="email">
                {{getattr('email')}}
              </h3>

              <services-list
                :services="servicesList"
                @serviceSelected="selectService"
              >
              </services-list>
            </div>

            <div class="actions">
              <mdc-button
                name="update"
                class="updateProfileButton"
                @click="showProfile"
                :tabindex="activeStep === 'select_service' ? 0 : -1"
                >
                  {{updateProfileMessage}}
              </mdc-button>
              <div class="divider"></div>
              <mdc-button
                name="logout"
                class="logoutButton"
                @click.once="performLogout"
                :tabindex="activeStep === 'select_service' ? 0 : -1"
                >
                  {{logoutMessage}}
              </mdc-button>
            </div>
          </div>

        </accounts-card>
      </div>
    </div>

    <!-- accept_tos -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'accept_tos'">
        <accounts-card
          :step-operation="stepOperation"
          step="accept_tos"
          :description="getStepDescription('accept_tos')"
          :error="userSubscriptionError"
          @nextButtonPressed="stepCompleted('accept_tos', true)"
          @backButtonPressed="goToStep('select_service')"
        >
          <div class="termsOfService scrollable" v-html="termsOfService">
          </div>
        </accounts-card>
      </div>
    </div>

    <!-- subscribe -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'subscribe'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="subscribe"
          :description="getStepDescription('subscribe')"
        >
        </accounts-card>
      </div>
    </div>

    <!-- redirect -->
    <div class="swiper-slide">
      <div class="flex-row flex-center-y" v-show="activeStep === 'redirect'">
        <accounts-card
          remote-step
          :step-operation="stepOperation"
          step="redirect"
          :description="getStepDescription('redirect')"
        >
        </accounts-card>
      </div>
    </div>

  </swiper-js>
</div>
</template>

<script>
import ErrorResponseMixin from '../mixins/ErrorResponseMixin'
import FieldValidatorsMixin from '../mixins/FieldValidatorsMixin'
import BrowserFingerprintMixin from '../mixins/BrowserFingerprintMixin'
import CredentialsTypeMixin from '../mixins/CredentialsTypeMixin'
import NextUrlMixin from '../mixins/NextUrlMixin'
import xhrPostMixin from '../mixins/xhrPostMixin'
import StepOperationSwiperJsMixin from '../mixins/StepOperationSwiperJsMixin'

import CheckUserExistenceMixin from '../entities/user/CheckUserExistenceMixin'
import GetUserProfileMixin from '../entities/user/GetUserProfileMixin'
import RemoteServicesListMixin from '../entities/service/RemoteServicesListMixin'

import SwiperJs from '../elements/swiper/SwiperJs'

import AccountsCard from './AccountsCard'
import UserAvatar from '../entities/user/UserAvatar'
import ServicesList from '../entities/service/ServicesList'
import MdcTextField from '../elements/input/MdcTextField'
import MdcButton from '../elements/button/MdcButton'
import MdcPlaceInput from '../elements/input/MdcPlaceInput'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'LoginView',
  mixins: [
    StepOperationSwiperJsMixin,
    ErrorResponseMixin,
    FieldValidatorsMixin,
    xhrPostMixin,
    BrowserFingerprintMixin,
    CredentialsTypeMixin,
    NextUrlMixin,
    CheckUserExistenceMixin,
    GetUserProfileMixin,
    RemoteServicesListMixin
  ],
  components: {
    SwiperJs,
    AccountsCard,
    ServicesList,
    UserAvatar,
    MdcTextField,
    MdcButton,
    MdcPlaceInput
  },
  data () {
    return {
      stepOperation: {
        key: 'login',
        name: 'Login',
        description: gettext('Login steps'),
        activeStep: null,
        steps: [{
          key: 'fetch_profile',
          name: 'Fetch profile',
          description: gettext('Fetching profile..'),
          next: 'insert_credentials',
          result: null,
          error: null
        },
        {
          key: 'insert_credentials',
          name: 'username/email',
          description: gettext('Insert username or e-mail. If you have not created an account yet, then please <a href=\'/signup/\' tabindex=\'-1\'>SIGN UP</a> first.'),
          next: 'check_credentials',
          result: null,
          error: null
        },
        {
          key: 'check_credentials',
          name: 'Checking credentials',
          description: gettext('Checking credentials..'),
          next: 'insert_password',
          result: null,
          error: null
        },
        {
          key: 'insert_password',
          name: 'Insert password',
          description: gettext('Insert password.'),
          next: 'perform_login',
          result: null,
          error: null
        },
        {
          key: 'perform_login',
          name: 'Login',
          description: gettext('Logging in..'),
          next: 'passepartout',
          result: null,
          error: null
        },
        {
          key: 'passepartout',
          name: 'Passepartout',
          description: gettext('Enabling services..'),
          next: 'fetch_services',
          result: null,
          error: null
        },
        {
          key: 'fetch_services',
          name: 'Fetching services',
          description: gettext('Fetching services..'),
          next: 'select_service',
          result: null,
          error: null
        },
        {
          key: 'select_service',
          name: 'Profile',
          description: null,
          next: 'accept_tos',
          result: null,
          error: null
        },
        {
          key: 'accept_tos',
          name: 'Accept TOS',
          description: gettext('Accept terms of service'),
          next: 'subscribe',
          result: null,
          error: null
        },
        {
          key: 'subscribe',
          name: 'Subscribe',
          description: gettext('Subscribing..'),
          next: 'redirect',
          result: null,
          error: null
        },
        {
          key: 'redirect',
          name: 'Redirect',
          description: gettext('Redirecting..'),
          next: null,
          result: null,
          error: null
        }]
      },

      xhrPostUrl: '/api/v1/auth/login/',

      operationError: null,

      nextUrl: null,
      userProfile: null,

      previousError: false,
      passepartoutRedirectUrl: null,
      userSubscriptionError: null,

      updateProfileMessage: gettext('Profile'),
      logoutMessage: gettext('Logout')
    }
  },
  computed: {
    userCredentials: {
      get () {
        return this.getStepResult('insert_credentials')
      },
      set (val) {
        this.setStepResult('insert_credentials', val)
      }
    },
    userPassword: {
      get () {
        return this.getStepResult('insert_password')
      },
      set (val) {
        this.setStepResult('insert_password', val)
      }
    },
    servicesList () {
      return this.getStepResult('fetch_services')
    },
    selectedService: {
      get () {
        return this.getStepResult('select_service')
      },
      set (val) {
        this.setStepResult('select_service', val)
      }
    },
    termsOfService () {
      if (this.selectedService) {
        return this.selectedService.tos
      }
      return ''
    }
  },
  mounted: function () {
    this.$on('userProfileFetched', (profile) => {
      this.stepCompleted('fetch_profile', profile, 'fetch_services')
    })
    this.$on('errorFetchingUserProfile', () => {
      this.stepCompleted('fetch_profile', null, 'insert_credentials')
    })

    this.$on('servicesFetched', (services) => {
      // console.log('services fetched', services)
      this.stepCompleted('fetch_services', services)
    })
    this.$on('errorFetchingServices', (error) => {
      let parsedError = this.parseError(error)
      this.operationError = parsedError
      this.stepFailed('fetch_services', parsedError, 'insert_credentials')
    })

    this.$on('serviceSubscribed', (service) => {
      this.nextUrl = service.url
      this.stepCompleted('subscribe', true)
    })

    this.$on('userExists', (response) => {
      this.stepCompleted('check_credentials', response)
    })
    this.$on('userDoesNotExists', () => {
      // console.log('userDoesNotExists')
      let error = gettext('Account not found, please') + ' <a href="/signup/' + this.nextUrlParam + '" tabindex="-1">' + gettext('SIGN UP') + '</a>.'
      this.operationError = error
      this.stepFailed('check_credentials', 'User (' + this.userCredentials + ') not found.', 'insert_credentials')
    })
    this.$on('checkUserExistenceError', (error) => {
      this.operationError = error
      this.stepFailed('check_credentials', this.operationError, 'insert_credentials')
    })

    this.$on('xhrPostResponse', (response) => {
      // console.log('Login xhrPostResponse', response, response.data)
      this.userProfile = response.data.user
      this.passepartoutRedirectUrl = response.data.passepartout_redirect_url
      this.stepCompleted('perform_login', response)
    })

    this.$on('xhrPostError', (error) => {
      // console.log('xhrPostError')
      let parsedError = this.parseError(error)
      if ((parsedError === gettext('Unable to log in with provided credentials.')) || (parsedError === 'Unable to log in with provided credentials.')) {
        parsedError += ' ' + gettext('Would you <a href="/password/reset/" alt="reset password" tabindex="-1">RESET YOUR PASSWORD</a>?')
      }
      this.operationError = parsedError
      this.stepFailed('perform_login', parsedError, 'insert_credentials')
    })
  },
  methods: {
    showProfile () {
      // window.location.href = '/profile/update/'
      this.$router.push({
        path: '/profile/update/'
      })
    },
    servicesListFetched (services) {
      // console.log('Login view servicesListFetched', services)
      this.stepCompleted('fetch_services', services)
    },
    selectService (service) {
      // console.log('Login view selectService', service, service.redirect_timeout)
      if (service.is_subscribed) {
        this.nextUrl = service.url
        this.stepCompleted('select_service', service, 'redirect')
      } else {
        this.stepCompleted('select_service', service)
      }
    },
    performLogout () {
      this.$http.post(
        '/api/v1/auth/logout/',
        {},
        {}
      ).then((response) => {
        let passepartoutRedirectUrl = response.data.passepartout_redirect_url
        if (passepartoutRedirectUrl) {
          window.location.replace(passepartoutRedirectUrl)
        } else {
          window.location.href = '/login/'
        }
      })
    },
    getattr (attr) {
      if (this.userProfile) {
        return this.userProfile[attr]
      }
    },
    stepActivated (step) {
      if (step === 'fetch_profile') {
        this.fetchUserProfile()
      } else if (step === 'check_credentials') {
        // checking user existence, managed by signal listeners on "mounted" method
        this.checkUserExistence(this.userCredentials)
      } else if (step === 'insert_password') {
        this.$refs.userCredentialsInput.blur()
      } else if (step === 'perform_login') {
        this.$refs.userPasswordInput.blur()
        this.xhrPostParams = {
          username: this.userCredentials,
          password: this.userPassword,
          fingerprint: this.browserFingerprint
        }
        if (this.nextUrl) {
          this.xhrPostUrl += '?next=' + this.nextUrl
        }
        // console.log('Logging in with nextUrl', this.nextUrl, 'login url is', this.xhrPostUrl)
        this.performXhrPost()
      } else if (step === 'passepartout') {
        if (this.passepartoutRedirectUrl) {
          // console.log('Redirecting passepartout_redirect_url', this.passepartoutRedirectUrl)
          setTimeout(() => {
            window.location.replace(this.passepartoutRedirectUrl)
          }, 2000)
        } else {
          this.stepCompleted(step, null)
        }
      } else if (step === 'fetch_services') {
        this.getServicesList()
      } else if (step === 'select_service') {
        // console.log('select_service', this.nextUrl)
        if (this.nextUrl) {
          let selectedService = null
          let nextUrlBasePath = this.getBasePath(this.nextUrl)
          // check if service is subscribed, or not
          // console.log('checking service is sub or not', this.nextUrl, nextUrlBasePath)
          for (let i = 0; i < this.services.length; i++) {
            let service = this.services[i]
            // console.log('checking service', service)
            if (service.url === nextUrlBasePath) {
              if (service.is_subscribed) {
                this.activateStep('redirect')
              } else {
                selectedService = service
                this.stepCompleted('select_service', selectedService)
              }
            }
          }
        }
      } else if (step === 'accept_tos') {
        if (this.selectedService.is_subscribed) {
          this.nextUrl = this.selectedService.url
          this.stepCompleted(step, null, 'redirect')
        }
      } else if (step === 'subscribe') {
        this.subscribeToService(this.selectedService)
      } else if (step === 'redirect') {
        let redirectWait = 2000
        if (this.selectedService) {
          redirectWait = this.selectedService.redirect_wait
        }
        // console.log('Redirecting', this.selectedService, 'next', this.nextUrl, 'timeout', redirectWait)
        setTimeout(() => {
          if (this.nextUrl) {
            this.followNextUrl()
          } else {
            this.stepFailed(step, 'nextUrl missing', 'select_service')
          }
        }, redirectWait)
      }
    },
    slideChanged (step) {
      if (step === 'insert_credentials') {
        if (this.previousError) {
          this.$refs.userCredentialsInput.clear()
        }
      } else if (step === 'insert_password') {
        if (this.previousError) {
          this.$refs.userPasswordInput.clear()
        } else {
          this.$refs.userPasswordInput.focus()
        }
      }
    }
  },
  watch: {
    operationError () {
      this.previousError = true
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";

.loginView {
  .userServicesList {
    margin: 24px 0;
  }

  .updateProfileButton {
    background-color: $mdc-theme-primary-bg;
    color: $mdc-theme-primary;
    float: left;
  }
  .logoutButton {
    background-color: $mdc-theme-secondary-bg;
    color: $mdc-theme-secondary;
    float: right;
  }
  .servicesListView {
    .email, .username {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .username {
      margin: 24px 0 16px;
    }
    .email {
      margin-top: 0;
    }
    .actions {
      .mdcButton {
        width: 47%;
      }
    }
  }
}
</style>
