<template>
  <div class="passwordResetView fillHeight">

  <swiper-js ref="swiper"
    :swipeable="false"
    :allow-slide-prev="false"
    :allow-slide-next="false"
    >

      <!-- insert_password -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_password'">
          <accounts-card
            first-step
            :stepOperation="stepOperation"
            step="insert_password"
            :description="getStepDescription('insert_password')"
            :error="operationError"
            @nextButtonPressed="stepCompleted('insert_password', userPassword)"
          >
            <mdc-text-field
              name="email"
              type="password"
              placeholder=".."
              ref="passwordInput"
              v-model="userPassword"
              :tabindex="activeStep === 'insert_password' ? 0 : -1"
              @submitted="stepCompleted('insert_password', userPassword)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- repeat_password -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'repeat_password'">
          <accounts-card
            :stepOperation="stepOperation"
            step="repeat_password"
            :description="getStepDescription('repeat_password')"
            @nextButtonPressed="stepCompleted('repeat_password', userPassword2)"
          >
            <mdc-text-field
              name="email"
              type="password"
              placeholder=".."
              ref="password2Input"
              v-model="userPassword2"
              :tabindex="activeStep === 'repeat_password' ? 0 : -1"
              @submitted="stepCompleted('repeat_password', userPassword2)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- update_password -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'update_password'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="update_password"
            :description="getStepDescription('update_password')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- results -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'results'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="results"
            :description="getStepDescription('results')"
            @link-clicked="askFollowLink"
          >
          </accounts-card>
        </div>
      </div>

    </swiper-js>
  </div>
</template>

<script>
import ErrorResponseMixin from '../mixins/ErrorResponseMixin'
import FieldValidatorsMixin from '../mixins/FieldValidatorsMixin'
import BrowserFingerprintMixin from '../mixins/BrowserFingerprintMixin'
import CredentialsTypeMixin from '../mixins/CredentialsTypeMixin'
import NextUrlMixin from '../mixins/NextUrlMixin'
import xhrPostMixin from '../mixins/xhrPostMixin'
import CheckUserExistenceMixin from '../entities/user/CheckUserExistenceMixin'
import StepOperationSwiperJsMixin from '../mixins/StepOperationSwiperJsMixin'

import SwiperJs from '../elements/swiper/SwiperJs'

import AccountsCard from './AccountsCard'
import MdcTextField from '../elements/input/MdcTextField'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'PasswordResetView',
  mixins: [
    StepOperationSwiperJsMixin,
    ErrorResponseMixin,
    FieldValidatorsMixin,
    xhrPostMixin,
    BrowserFingerprintMixin,
    CredentialsTypeMixin,
    NextUrlMixin,
    CheckUserExistenceMixin
  ],
  components: {
    SwiperJs,
    AccountsCard,
    MdcTextField
  },
  data () {
    return {
      stepOperation: {
        key: 'change_password',
        name: 'Change password',
        description: gettext('Change password'),
        activeStep: null,
        steps:
          [{
            key: 'insert_password',
            name: 'Insert password',
            description: gettext('Choose a strong password.'),
            next: 'repeat_password',
            result: null,
            error: null
          },
          {
            key: 'repeat_password',
            name: 'Repeat password',
            description: gettext('Repeat password.'),
            next: 'update_password',
            result: null,
            error: null
          },
          {
            key: 'update_password',
            name: 'Update password',
            description: gettext('Updating password..'),
            next: 'results',
            result: null,
            error: null
          },
          {
            key: 'results',
            name: 'Results',
            description: gettext('Password updated, <a href=\'/login/\'>LOGIN</a> with new credentials.'),
            next: null,
            result: null,
            error: null
          }]
      },

      xhrPostUrl: '/api/v1/auth/password/reset/confirm/',

      operationError: null,
      previousError: false
    }
  },
  computed: {
    userPassword: {
      get () {
        return this.getStepResult('insert_password')
      },
      set (val) {
        this.setStepResult('insert_password', val)
      }
    },
    userPassword2: {
      get () {
        return this.getStepResult('repeat_password')
      },
      set (val) {
        this.setStepResult('repeat_password', val)
      }
    }
  },
  mounted: function () {
    this.$on('xhrPostResponse', (response) => {
      // console.log('xhrPostResponse')
      this.stepCompleted('update_password', response)
    })

    this.$on('xhrPostError', (error) => {
      // console.log('xhrPostError')
      let parsedError = this.parseError(error)
      this.operationError = parsedError
      this.stepFailed('update_password', parsedError, 'insert_password')
    })
  },
  methods: {
    tryActivateStep (step) {
      if (step === 'repeat_password') {
        if (!this.validatePassword(this.userPassword)) {
          this.operationError = gettext('Password must be at least 8 characters long.')
          this.stepFailed(step, this.operationError, 'insert_password')
          this.$refs.passwordInput.clear()
          return
        }
      } else if (step === 'update_password') {
        if (!(this.validatePassword(this.userPassword2) && (this.userPassword === this.userPassword2))) {
          this.userPassword = this.userPassword2 = null
          this.operationError = gettext('Password didn\'t match.')
          this.stepFailed(step, this.operationError, 'insert_password')
          this.previousError = true
          return
        }
      }
      this.goToStep(step)
    },
    stepActivated (step) {
      if (step === 'repeat_password') {
        this.$refs.passwordInput.blur()
      } else if (step === 'update_password') {
        this.$refs.password2Input.blur()
        this.xhrPostParams = {
          new_password1: this.userPassword,
          new_password2: this.userPassword2,
          uid: this.$route.params.uid,
          token: this.$route.params.token
        }
        this.performXhrPost()
      }
    },
    slideChanged (step) {
      if (step === 'insert_password') {
        if (this.previousError) {
          this.$refs.passwordInput.clear()
        }
      } else if (step === 'repeat_password') {
        this.$refs.password2Input.clear()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";
</style>
