<template>
  <div class="registerView fillHeight" ref="background">

  <swiper-js ref="swiper"
    :swipeable="false"
    :allow-slide-prev="false"
    :allow-slide-next="false"
    >

      <!-- insert_email -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_email'">
          <accounts-card
            first-step
            :stepOperation="stepOperation"
            step="insert_email"
            :description="getStepDescription('insert_email')"
            :error="operationError"
            @nextButtonPressed="stepCompleted('insert_email', userEmail)"
            @link-clicked="askFollowLink"
          >

            <mdc-text-field
              placeholder=".."
              name="email"
              ref="userEmailInput"
              v-model="userEmail"
              :rules="emailRules"
              :tabindex="activeStep === 'insert_email' ? 0 : -1"
              @submitted="stepCompleted('insert_email', userEmail)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- check email -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'check_email'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="check_email"
            :description="getStepDescription('check_email')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- insert_username -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_username'">
          <accounts-card
            :stepOperation="stepOperation"
            step="insert_username"
            :description="getStepDescription('insert_username')"
            :error="usernameError"
            @nextButtonPressed="stepCompleted('insert_username', userUsername)"
            @backButtonPressed="goToStep('insert_email')"
          >
            <mdc-text-field
              name="username"
              placeholder=".."
              ref="userUsernameInput"
              v-model="userUsername"
              :rules="usernameRules"
              :tabindex="activeStep === 'insert_username' ? 0 : -1"
              @submitted="stepCompleted('insert_username', userUsername)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- check_username -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'check_username'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="check_username"
            :description="getStepDescription('check_username')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- insert_password -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_password'">
          <accounts-card
            :stepOperation="stepOperation"
            step="insert_password"
            :description="getStepDescription('insert_password')"
            :error="passwordError"
            @nextButtonPressed="stepCompleted('insert_password', userPassword)"
            @backButtonPressed="goToStep('insert_username')"
          >
            <mdc-text-field
              placeholder=".."
              name="password1"
              type="password"
              ref="passwordInput"
              v-model="userPassword"
              :rules="passwordRules"
              :tabindex="activeStep === 'insert_password' ? 0 : -1"
              @submitted="stepCompleted('insert_password', userPassword)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- confirm_password -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'confirm_password'">
          <accounts-card
            :stepOperation="stepOperation"
            step="confirm_password"
            :description="getStepDescription('confirm_password')"
            @nextButtonPressed="stepCompleted('confirm_password', userPassword2)"
            @backButtonPressed="goToStep('insert_password')"
          >
            <mdc-text-field
              placeholder=".."
              name="password2"
              type="password"
              ref="passwordInput2"
              v-model="userPassword2"
              :rules="passwordRules"
              :tabindex="activeStep === 'confirm_password' ? 0 : -1"
              @submitted="stepCompleted('confirm_password', userPassword2)"
            ></mdc-text-field>
          </accounts-card>
        </div>
        </div>

        <!-- check_confirmed_password -->
        <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'check_confirmed_password'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="check_confirmed_password"
            :description="getStepDescription('check_confirmed_password')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- insert_first_name -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_first_name'">
          <accounts-card
            :stepOperation="stepOperation"
            step="insert_first_name"
            :description="getStepDescription('insert_first_name')"
            :error="userFirstNameError"
            @nextButtonPressed="stepCompleted('insert_first_name', userFirstName)"
            @backButtonPressed="goToStep('insert_password')"
          >
            <mdc-text-field
              placeholder=".."
              name="first_name"
              ref="userFirstNameInput"
              v-model="userFirstName"
              :rules="userFirstNameRules"
              :tabindex="activeStep === 'insert_first_name' ? 0 : -1"
              @submitted="stepCompleted('insert_first_name', userFirstName)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- insert_last_name -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_last_name'">
          <accounts-card
            :stepOperation="stepOperation"
            step="insert_last_name"
            :description="getStepDescription('insert_last_name')"
            :error="userLastNameError"
            @nextButtonPressed="stepCompleted('insert_last_name', userLastName)"
            @backButtonPressed="goToStep('insert_first_name')"
          >
            <mdc-text-field
              placeholder=".."
              name="last_name"
              ref="userLastNameInput"
              :rules="userFirstNameRules"
              v-model="userLastName"
              :tabindex="activeStep === 'insert_last_name' ? 0 : -1"
              @submitted="stepCompleted('insert_last_name', userLastName)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- insert_description -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_description'">
          <accounts-card
            :stepOperation="stepOperation"
            step="insert_description"
            :description="getStepDescription('insert_description')"
            @nextButtonPressed="stepCompleted('insert_description', userDescription)"
            @backButtonPressed="goToStep('insert_last_name')"
          >
            <mdc-text-area
              placeholder=".."
              name="description"
              ref="userDescriptionInput"
              v-model="userDescription"
              :tabindex="activeStep === 'insert_description' ? 0 : -1"
            ></mdc-text-area>
          </accounts-card>
        </div>
      </div>

      <!-- set_position -->
      <div class="swiper-slide">

        <GoogleMapsBackgroundElement
          :hidden="activeStep !== 'set_position'"
          @loaded="backgroundMapLoaded">
        </GoogleMapsBackgroundElement>

        <div class="flex-row flex-center-y darkBackground" v-show="activeStep === 'set_position'">
          <accounts-card
            :stepOperation="stepOperation"
            step="set_position"
            :description="getStepDescription('set_position')"
            :error="userPositionError"
            @nextButtonPressed="stepCompleted('set_position', userPosition)"
            @backButtonPressed="goToStep('insert_description')"
          >
            <mdc-place-input
              ref="userPositionInput"
              name="address"
              placeholder=".."
              watch-bound-map
              :bound-map="googleMap"
              :tabindex="activeStep === 'set_position' ? 0 : -1"
              @placeChanged="userPositionChanged"
            >
            </mdc-place-input>

          </accounts-card>
        </div>
      </div>

      <!-- choose_picture -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'choose_picture'">
          <accounts-card
            hide-media
            :stepOperation="stepOperation"
            step="choose_picture"
            @nextButtonPressed="stepCompleted('choose_picture', userPicture, 'fetch_services')"
            @backButtonPressed="goToStep('set_position')"
          >
            <user-avatar-upload-field
              :placeholder="getStepDescription('choose_picture')"
              name="picture"
              @change="userPictureChanged"
            >
            </user-avatar-upload-field>
          </accounts-card>
        </div>
      </div>

      <!-- fetch_services -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'fetch_services'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="fetch_services"
            :description="getStepDescription('fetch_services')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- choose_service -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'choose_service'">
          <accounts-card
            hide-next-button
            :stepOperation="stepOperation"
            step="choose_service"
            :description="getStepDescription('choose_service')"
            @backButtonPressed="goToStep('choose_picture')"
          >
            <services-list
              :services="servicesList"
              @serviceSelected="selectService"
            >
            </services-list>
          </accounts-card>
        </div>
      </div>

      <!-- accept_tos -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'accept_tos'">
          <accounts-card
            :stepOperation="stepOperation"
            step="accept_tos"
            :description="getStepDescription('accept_tos')"
            @nextButtonPressed="stepCompleted('accept_tos', true)"
            @backButtonPressed="goToStep('choose_service')"
          >
            <div class="termsOfService scrollable" v-html="termsOfService">
            </div>
          </accounts-card>
        </div>
      </div>

      <!-- perform_registration -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'perform_registration'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="perform_registration"
            :description="getStepDescription('perform_registration')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- results -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'results'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="results"
            :description="getStepDescription('results')"
            show-next-button
            @nextButtonPressed="goToLogin()"
          >
          </accounts-card>
        </div>
      </div>

    </swiper-js>
  </div>
</template>

<script>
import ErrorResponseMixin from '../mixins/ErrorResponseMixin'
import FieldValidatorsMixin from '../mixins/FieldValidatorsMixin'
import BrowserFingerprintMixin from '../mixins/BrowserFingerprintMixin'
import CredentialsTypeMixin from '../mixins/CredentialsTypeMixin'
import NextUrlMixin from '../mixins/NextUrlMixin'
import xhrPostMixin from '../mixins/xhrPostMixin'
import CheckUserExistenceMixin from '../entities/user/CheckUserExistenceMixin'
import StepOperationSwiperJsMixin from '../mixins/StepOperationSwiperJsMixin'
import RemoteServicesListMixin from '../entities/service/RemoteServicesListMixin'

import SwiperJs from '../elements/swiper/SwiperJs'

import AccountsCard from './AccountsCard'
import UserAvatarUploadField from '../entities/user/UserAvatarUploadField'
import ServicesList from '../entities/service/ServicesList'
import MdcTextField from '../elements/input/MdcTextField'
import MdcPlaceInput from '../elements/input/MdcPlaceInput'
import MdcTextArea from '../elements/input/MdcTextArea'

import GoogleMapsBackgroundElement from '../elements/map/GoogleMapsBackgroundElement'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'RegisterView',
  mixins: [
    StepOperationSwiperJsMixin,
    ErrorResponseMixin,
    FieldValidatorsMixin,
    xhrPostMixin,
    BrowserFingerprintMixin,
    CredentialsTypeMixin,
    NextUrlMixin,
    CheckUserExistenceMixin,
    RemoteServicesListMixin
  ],
  components: {
    SwiperJs,
    AccountsCard,
    UserAvatarUploadField,
    MdcTextField,
    MdcPlaceInput,
    MdcTextArea,
    ServicesList,
    GoogleMapsBackgroundElement
  },
  props: {
    swipeable: {
      type: Boolean,
      default: false
    },
    allowSlideNext: {
      type: Boolean,
      default: false
    },
    allowSlidePrev: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      stepOperation: {
        key: 'register',
        name: 'Register',
        description: gettext('Registration steps'),
        activeStep: null,
        steps: [{
          key: 'insert_email',
          name: 'Insert email',
          description: gettext('This e-mail will be used for later communications. If you already have an account please <a href=\'/login/\' tabindex="-1">LOGIN</a>.'),
          next: 'check_email',
          result: null,
          error: null
        },
        {
          key: 'check_email',
          name: 'Checking email',
          description: gettext('Checking e-mail..'),
          next: 'insert_username',
          result: null,
          error: null
        },
        {
          key: 'insert_username',
          name: 'Choose username',
          description: gettext('Choose username.'),
          next: 'check_username',
          result: null,
          error: null
        },
        {
          key: 'check_username',
          name: 'Checking username',
          description: gettext('Checking username..'),
          next: 'insert_password',
          result: null,
          error: null
        },
        {
          key: 'insert_password',
          name: 'Insert password',
          description: gettext('Choose a strong password.'),
          next: 'confirm_password',
          result: null,
          error: null
        },
        {
          key: 'confirm_password',
          name: 'Confirm password',
          description: gettext('Confirm password.'),
          next: 'check_confirmed_password',
          result: null,
          error: null
        },
        {
          key: 'check_confirmed_password',
          name: 'Checking password',
          description: gettext('Checking password..'),
          next: 'insert_first_name',
          result: null,
          error: null
        },
        {
          key: 'insert_first_name',
          name: 'Insert first name',
          description: gettext('Insert first name.'),
          next: 'insert_last_name',
          result: null,
          error: null
        },
        {
          key: 'insert_last_name',
          name: 'Insert last name',
          description: gettext('Insert last name.'),
          next: 'insert_description',
          result: null,
          error: null
        },
        {
          key: 'insert_description',
          name: 'Description',
          description: gettext('About you..'),
          next: 'set_position',
          result: null,
          error: null
        },
        {
          key: 'set_position',
          name: 'Set position',
          description: gettext('Set your position.'),
          next: 'choose_picture',
          result: null,
          error: null
        },
        {
          key: 'choose_picture',
          name: 'Choose picture',
          description: gettext('Click to choose a picture.'),
          next: 'fetch_services',
          result: null,
          error: null
        },
        {
          key: 'fetch_services',
          name: 'Fetching services',
          description: gettext('Fetching services..'),
          next: 'choose_service',
          result: null,
          error: null
        },
        {
          key: 'choose_service',
          name: 'Choose service',
          description: gettext('Choose service.'),
          next: 'accept_tos',
          result: null,
          error: null
        },
        {
          key: 'accept_tos',
          name: 'Terms and conditions',
          description: gettext('Clink CONTINUE to accept terms of service.'),
          next: 'perform_registration',
          result: null,
          error: null
        },
        {
          key: 'perform_registration',
          name: 'Registering',
          description: gettext('Registering..'),
          next: 'results',
          result: null,
          error: null
        },
        {
          key: 'results',
          name: 'Results',
          description: gettext('Confirmation e-mail sent. Please check your inbox.'),
          next: null,
          result: null,
          error: null
        }]
      },

      xhrPostUrl: '/api/v1/auth/registration/',

      termsOfService: null,
      referrer: null,

      googleMap: null
    }
  },
  computed: {
    defaultReferrer () {
      return window.app.DEFAULT_REFERRER
    },
    userEmail: {
      get () {
        return this.getStepResult('insert_email')
      },
      set (val) {
        this.setStepResult('insert_email', val)
      }
    },
    emailError: {
      get () {
        return this.getStepError('insert_email')
      },
      set (val) {
        this.setStepError('insert_email', val)
      }
    },
    userUsername: {
      get () {
        return this.getStepResult('insert_username')
      },
      set (val) {
        this.setStepResult('insert_username', val)
      }
    },
    usernameError: {
      get () {
        return this.getStepError('insert_username')
      },
      set (val) {
        this.setStepError('insert_username', val)
      }
    },
    userPassword: {
      get () {
        return this.getStepResult('insert_password')
      },
      set (val) {
        this.setStepResult('insert_password', val)
      }
    },
    passwordError: {
      get () {
        return this.getStepError('insert_password')
      },
      set (val) {
        this.setStepError('insert_password', val)
      }
    },
    userPassword2: {
      get () {
        return this.getStepResult('confirm_password')
      },
      set (val) {
        this.setStepResult('confirm_password', val)
      }
    },
    userFirstName: {
      get () {
        return this.getStepResult('insert_first_name')
      },
      set (val) {
        this.setStepResult('insert_first_name', val)
      }
    },
    userFirstNameError: {
      get () {
        return this.getStepError('insert_first_name')
      },
      set (val) {
        this.setStepError('insert_first_name', val)
      }
    },
    userLastName: {
      get () {
        return this.getStepResult('insert_last_name')
      },
      set (val) {
        this.setStepResult('insert_last_name', val)
      }
    },
    userLastNameError: {
      get () {
        return this.getStepError('insert_last_name')
      },
      set (val) {
        this.setStepError('insert_last_name', val)
      }
    },
    userDescription: {
      get () {
        return this.getStepResult('insert_description')
      },
      set (val) {
        this.setStepResult('insert_description', val)
      }
    },
    userPosition: {
      get () {
        return this.getStepResult('set_position')
      },
      set (val) {
        this.setStepResult('set_position', val)
      }
    },
    userPositionError: {
      get () {
        return this.getStepError('set_position')
      },
      set (val) {
        this.setStepError('set_position', val)
      }
    },
    userPicture: {
      get () {
        return this.getStepResult('choose_picture')
      },
      set (val) {
        this.setStepResult('choose_picture', val)
      }
    },
    userPictureError: {
      get () {
        return this.getStepError('choose_picture')
      },
      set (val) {
        this.setStepError('choose_picture', val)
      }
    },
    servicesList: {
      get () {
        return this.getStepResult('fetch_services')
      },
      set (val) {
        this.setStepResult('fetch_services', val)
      }
    },
    fetchServicesError: {
      get () {
        return this.getStepError('fetch_services')
      },
      set (val) {
        this.setStepError('fetch_services', val)
      }
    },
    selectedService: {
      get () {
        return this.getStepError('choose_service')
      },
      set (val) {
        this.setStepError('choose_service', val)
      }
    },
    registrationError: {
      get () {
        return this.getStepError('perform_registration')
      },
      set (val) {
        this.setStepError('perform_registration', val)
      }
    },
    operationError () {
      if (this.emailError) {
        return this.emailError
      } else if (this.registrationError) {
        return this.registrationError
      } else if (this.fetchServicesError) {
        return this.fetchServicesError
      }
    }
  },
  mounted: function () {
    this.$on('servicesFetched', (services) => {
      this.stepCompleted('fetch_services', services)
    })
    this.$on('errorFetchingServices', (error) => {
      let parsedError = this.parseError(error)
      this.operationError = parsedError
      this.stepFailed('fetch_services', parsedError, 'insert_email')
    })

    this.$on('xhrPostResponse', (response) => {
      this.stepCompleted('perform_registration', response)
    })

    this.$on('xhrPostError', (error) => {
      this.stepFailed('perform_registration', this.parseError(error), 'insert_email')
    })
  },
  methods: {
    userPictureChanged (ev) {
      // console.log('userPictureChanged', ev)
      this.userPicture = ev.avatar
    },
    userPositionChanged (position) {
      this.userPosition = position
    },
    selectService (service) {
      // console.log('Register view selectService', service)
      this.selectedService = service
      this.referrer = service.url
      this.termsOfService = service.tos
      this.stepCompleted('choose_service', service)
    },
    backgroundMapLoaded (map) {
      this.googleMap = map
    },
    goToLogin () {
      window.location.href = '/login/'
    },
    tryActivateStep (step) {
      // console.log('RegisterView is trying to activate step', step)

      if (step === 'check_email') {
        if (this.validateEmail(this.userEmail)) {
          this.goToStep(step)
        } else {
          this.emailError = gettext('Check e-mail.')
          this.goToStep('insert_email')
        }
      } else if (step === 'check_username') {
        if (this.validateUsername(this.userUsername)) {
          this.goToStep(step)
        } else {
          this.usernameError = gettext('Check username.')
          this.goToStep('insert_username')
        }
      } else if (step === 'confirm_password') {
        if (this.validatePassword(this.userPassword)) {
          this.goToStep(step)
        } else {
          this.$refs.passwordInput.clear()
          this.passwordError = gettext('Password must be at least 8 characters long.')
          this.goToStep('insert_password')
        }
      } else if (step === 'insert_last_name') {
        if (this.validateFirstName(this.userFirstName)) {
          this.goToStep(step)
        } else {
          this.userFirstNameError = gettext('Invalid first name.')
          this.goToStep('insert_first_name')
        }
      } else if (step === 'insert_description') {
        if (this.validateFirstName(this.userLastName)) {
          this.goToStep(step)
        } else {
          this.userLastNameError = gettext('Invalid last name.')
          this.goToStep('insert_last_name')
        }
      } else if (step === 'choose_picture') {
        if (this.userPosition) {
          this.goToStep(step)
        } else {
          this.userPositionError = gettext('Choose position.')
          this.goToStep('set_position')
        }
      } else {
        this.goToStep(step)
      }
    },
    stepActivated (step) {
      // console.log('RegisterView activating step', step)
      if (step === 'insert_email') {
        this.referrer = this.nextUrl || this.defaultReferrer
      } else if (step === 'check_email') {
        // remotely check email
        this.$refs.userEmailInput.blur()
        this.$http.get(
          this.userExistenceUrl,
          {
            params: {
              email: this.userEmail
            }
          }
        ).then(() => {
          let error = gettext('E-mail already registered, please') + ' <a href="/login/" tabindex="-1">' + gettext('LOGIN') + '</a>.'
          this.stepFailed('check_email', error, 'insert_email')
        }).catch((error) => {
          if (error.response) {
            let status = error.response.status
            if (status === 404) {
              this.stepCompleted('check_email', error.response.status)
            } else {
              this.emailError = this.parseError(error)
              this.stepFailed('check_email', this.emailError, 'insert_email')
            }
          } else {
            this.emailError = this.parseError(error)
            this.stepFailed('check_email', this.emailError, 'insert_email')
          }
        })
      } else if (step === 'check_username') {
        // remotely check username
        this.$refs.userUsernameInput.blur()
        this.$http.get(
          this.userExistenceUrl,
          {
            params: {
              username: this.userUsername
            }
          }
        ).then(() => {
          this.usernameError = gettext('Username already registered.')
          this.stepFailed('check_username', this.usernameError, 'insert_username')
        }).catch((error) => {
          if (error.response) {
            let status = error.response.status
            if (status === 404) {
              this.stepCompleted('check_username', error.response.status)
            } else {
              this.usernameError = this.parseError(error)
              this.stepFailed('check_username', this.usernameError, 'insert_username')
            }
          } else {
            this.usernameError = this.parseError(error)
            this.stepFailed('check_username', this.usernameError, 'insert_username')
          }
        })
      } else if (step === 'confirm_password') {
        this.$refs.passwordInput.blur()
      } else if (step === 'check_confirmed_password') {
        if (this.validatePassword(this.userPassword2) && (this.userPassword === this.userPassword2)) {
          this.stepCompleted('check_confirmed_password', true)
        } else {
          this.$refs.passwordInput.clear()
          this.$refs.passwordInput2.clear()
          this.passwordError = gettext('Password didn\'t match.')
          this.stepFailed('check_confirmed_password', this.passwordError, 'insert_password')
        }
      } else if (step === 'insert_first_name') {
        this.$refs.passwordInput2.blur()
      } else if (step === 'insert_last_name') {
        this.$refs.userFirstNameInput.blur()
      } else if (step === 'insert_description') {
        this.$refs.userLastNameInput.blur()
      } else if (step === 'set_position') {
        this.$refs.userDescriptionInput.blur()
      } else if (step === 'choose_picture') {
        this.$refs.userPositionInput.blur()
      } else if (step === 'fetch_services') {
        this.getServicesList()
      } else if (step === 'choose_service') {
        if (this.nextUrl) {
          // console.log('GOT service from nextUrl', this.nextUrl, this.servicesList)
          let selectedService = null
          for (let i = 0; i < this.servicesList.length; i++) {
            let service = this.servicesList[i]
            if (service.url === this.nextUrl) {
              selectedService = service
            }
          }
          if (selectedService) {
            this.selectService(selectedService)
          }
        }
      } else if (step === 'perform_registration') {
        this.xhrPostParams = {
          email: this.userEmail,
          username: this.userUsername,

          password1: this.userPassword,
          password2: this.userPassword,

          first_name: this.userFirstName,
          last_name: this.userLastName,

          description: this.userDescription,
          picture: this.userPicture,

          latitude: this.userPosition.latitude,
          longitude: this.userPosition.longitude,

          country: this.userPosition.country,
          address: this.userPosition.address,

          referrer: this.referrer
        }
        this.performXhrPost()
      }
    },
    slideChanged (step) {
      if (step === 'insert_username') {
        this.$refs.userUsernameInput.clear()
      } else if (step === 'insert_password') {
        this.$refs.passwordInput.clear()
      } else if (step === 'confirm_password') {
        this.$refs.passwordInput2.clear()
      } else if (step === 'insert_first_name') {
        this.$refs.userFirstNameInput.clear()
      } else if (step === 'insert_last_name') {
        this.$refs.userLastNameInput.clear()
      } else if (step === 'insert_description') {
        this.$refs.userDescriptionInput.clear()
      } else if (step === 'set_position') {
        this.$refs.userPositionInput.clear()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";

.darkBackground {
  z-index: 3;
  background-color: rgba(0,0,0,0.25);
}

.vue-base64-file-upload-wrapper input[type="file"] {
  z-index: 9999;
}
</style>
