<template>
  <div class="sendPasswordResetView fillHeight">

  <swiper-js ref="swiper"
    :swipeable="false"
    :allow-slide-prev="false"
    :allow-slide-next="false"
    >

      <!-- insert_email -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'insert_email'">
          <accounts-card
            first-step
            :stepOperation="stepOperation"
            step="insert_email"
            :description="getStepDescription('insert_email')"
            :error="operationError"
            @nextButtonPressed="stepCompleted('insert_email', userCredentials)"
            @link-clicked="askFollowLink"
          >
            <mdc-text-field
              clearable
              solo
              full-width
              name="email"
              placeholder=".."
              ref="userCredentialsInput"
              v-model="userCredentials"
              :tabindex="activeStep === 'insert_email' ? 0 : -1"
              @submitted="stepCompleted('insert_email', userCredentials)"
            ></mdc-text-field>
          </accounts-card>
        </div>
      </div>

      <!-- check_email -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'check_email'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="check_email"
            :description="getStepDescription('check_email')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- send_email -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'send_email'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="send_email"
            :description="getStepDescription('send_email')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- email_sent -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'email_sent'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="email_sent"
            :description="getStepDescription('email_sent')"
          >
          </accounts-card>
        </div>
      </div>

    </swiper-js>
  </div>
</template>

<script>
import ErrorResponseMixin from '../mixins/ErrorResponseMixin'
import FieldValidatorsMixin from '../mixins/FieldValidatorsMixin'
import BrowserFingerprintMixin from '../mixins/BrowserFingerprintMixin'
import CredentialsTypeMixin from '../mixins/CredentialsTypeMixin'
import NextUrlMixin from '../mixins/NextUrlMixin'
import xhrPostMixin from '../mixins/xhrPostMixin'
import CheckUserExistenceMixin from '../entities/user/CheckUserExistenceMixin'
import StepOperationSwiperJsMixin from '../mixins/StepOperationSwiperJsMixin'

import SwiperJs from '../elements/swiper/SwiperJs'

import AccountsCard from './AccountsCard'
import MdcTextField from '../elements/input/MdcTextField'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'SendPasswordResetView',
  mixins: [
    StepOperationSwiperJsMixin,
    ErrorResponseMixin,
    FieldValidatorsMixin,
    xhrPostMixin,
    BrowserFingerprintMixin,
    CredentialsTypeMixin,
    NextUrlMixin,
    CheckUserExistenceMixin
  ],
  components: {
    SwiperJs,
    AccountsCard,
    MdcTextField
  },
  props: {
    userCredentialsAsEmailOnly: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      stepOperation: {
        key: 'send_password_reset',
        name: 'Send password reset',
        description: gettext('Send password reset.'),
        activeStep: null,
        steps: [
          {
            key: 'insert_email',
            name: 'Insert email',
            description: gettext('Insert e-mail choosen during <a href=\'/signup/\' tabindex="-1">SIGN UP</a>.'),
            next: 'check_email',
            result: null,
            error: null
          },
          {
            key: 'check_email',
            name: 'Checking email',
            description: gettext('Checking e-mail..'),
            next: 'send_email',
            result: null,
            error: null
          },
          {
            key: 'send_email',
            name: 'Email sent',
            description: gettext('Sending e-mail..'),
            next: 'email_sent',
            result: null,
            error: null
          },
          {
            key: 'email_sent',
            name: 'Email sent',
            description: gettext('E-mail sent, check your inbox.'),
            next: null,
            result: null,
            error: null
          }]
      },

      xhrPostUrl: '/api/v1/auth/password/reset/',

      operationError: null
    }
  },
  computed: {
    userCredentials: {
      get () {
        return this.getStepResult('insert_email')
      },
      set (val) {
        this.setStepResult('insert_email', val)
      }
    }
  },
  mounted: function () {
    this.$on('userExists', (response) => {
      // console.log('userExists')
      this.stepCompleted('check_email', response)
    })

    this.$on('userDoesNotExists', () => {
      // console.log('userDoesNotExists')
      this.operationError = gettext('Account not found, please') + '<a href="/signup/' + this.nextUrlParam + '"> ' + gettext('SIGN UP') + '</a>.'
      let error = 'User (' + this.userCredentials + ') not found.'
      this.stepFailed('check_email', error, 'insert_email')
    })

    this.$on('checkUserExistenceError', (error) => {
      // console.log('checkUserExistenceError', error)
      this.operationError = error
      this.stepFailed('check_email', error, 'insert_email')
    })

    this.$on('xhrPostResponse', (response) => {
      // console.log('xhrPostResponse')
      this.stepCompleted('send_email', response)
    })

    this.$on('xhrPostError', (error) => {
      // console.log('xhrPostError', error)
      let parsedError = this.parseError(error)
      this.operationError = parsedError
      this.stepFailed('send_email', error, 'insert_email')
    })
  },
  methods: {
    tryActivateStep (step) {
      this.goToStep(step)
    },
    stepActivated (step) {
      if (step === 'check_email') {
        this.$refs.userCredentialsInput.blur()
        this.checkUserExistence(this.userCredentials)
      } else if (step === 'send_email') {
        this.xhrPostParams = {
          email: this.userCredentials
        }
        this.performXhrPost()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";
</style>
