<template>
  <div class="fillHeight userProfileUpdateView">

  <swiper-js ref="swiper"
    :swipeable="false"
    :allow-slide-prev="false"
    :allow-slide-next="false"
    >

      <!-- fetch_profile -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'fetch_profile'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="fetch_profile"
            :description="getStepDescription('fetch_profile')"
          >
          </accounts-card>
        </div>
      </div>

      <!-- view_profile -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'view_profile'">
          <div class="scrollable">
          <accounts-card
            hide-media
            hide-next-button
            :stepOperation="stepOperation"
            step="view_profile"
            @backButtonPressed="goToLogin"
          >

            <user-profile
              :profile="userProfile"
              @askUpdateField="askUpdateField"
            >
            </user-profile>

          </accounts-card>
          </div>
        </div>
      </div>

      <!-- edit_field -->
      <div class="swiper-slide">

        <GoogleMapsBackgroundElement
          :hidden="!(activeStep === 'edit_field' && updatingField === 'address')"
          @loaded="backgroundMapLoaded">
        </GoogleMapsBackgroundElement>

        <div class="flex-row flex-center-y updatingFieldSlideContent"
          :class="{darkBackground: (activeStep === 'edit_field' && updatingField === 'address')}"
           v-show="activeStep === 'edit_field'">

          <accounts-card
            :hide-media="updatingField === 'picture'"
            :stepOperation="stepOperation"
            step="edit_field"
            :description="getFieldName(updatingField)"
            :error="validationError"
            @nextButtonPressed="fieldUpdated()"
            @backButtonPressed="activateStep('view_profile')"
          >
            <mdc-text-field
              v-if="updatingField === 'email'"
              ref="updatingValueInput"
              v-model="updatingValue"
              @submitted="fieldUpdated()"
              placeholder=".."
              name="email"
              :tabindex="getTabindex('email')"
            ></mdc-text-field>

            <mdc-text-field
              v-if="updatingField === 'first_name'"
              ref="updatingValueInput"
              v-model="updatingValue"
              @submitted="fieldUpdated()"
              placeholder=".."
              name="first_name"
              :tabindex="getTabindex('first_name')"
            ></mdc-text-field>

            <mdc-text-field
              v-if="updatingField === 'last_name'"
              ref="updatingValueInput"
              v-model="updatingValue"
              @submitted="fieldUpdated()"
              placeholder=".."
              name="last_name"
              :tabindex="getTabindex('last_name')"
            ></mdc-text-field>

            <mdc-text-area
              v-if="updatingField === 'description'"
              ref="updatingValueInput"
              v-model="updatingValue"
              placeholder=".."
              name="description"
              :tabindex="getTabindex('description')"
            ></mdc-text-area>

            <mdc-place-input
              ref="updatingValueInput"
              v-if="updatingField === 'address'"
              name="address"
              placeholder=".."
              watch-bound-map
              :bound-map="googleMap"
              :tabindex="getTabindex('address')"
              @placeChanged="userPositionChanged"
            >
            </mdc-place-input>

            <user-avatar-upload-field
              v-if="updatingField === 'picture'"
              name="picture"
              :placeholder="updateImageText"
              @change="userPictureChanged"
            >
            </user-avatar-upload-field>

            <mdc-text-field
              v-if="updatingField === 'password'"
              ref="updatingValueInput"
              v-model="updatingValue"
              @submitted="fieldUpdated()"
              placeholder=".."
              name="password"
              type="password"
              :tabindex="getTabindex('password')"
            ></mdc-text-field>

          </accounts-card>

        </div>
      </div>

      <!-- update_field -->
      <div class="swiper-slide">
        <div class="flex-row flex-center-y" v-show="activeStep === 'update_field'">
          <accounts-card
            remote-step
            :stepOperation="stepOperation"
            step="update_field"
            :description="getStepDescription('update_field')"
            :error="updateError"
            :show-back-button="updateError !== null"
            @backButtonPressed="goToStep('view_profile')"
          >
          </accounts-card>
        </div>
      </div>

    </swiper-js>
  </div>
</template>

<script>
import ErrorResponseMixin from '../mixins/ErrorResponseMixin'
import FieldValidatorsMixin from '../mixins/FieldValidatorsMixin'
import BrowserFingerprintMixin from '../mixins/BrowserFingerprintMixin'
import CredentialsTypeMixin from '../mixins/CredentialsTypeMixin'
import NextUrlMixin from '../mixins/NextUrlMixin'
import CheckUserExistenceMixin from '../entities/user/CheckUserExistenceMixin'
import GetUserProfileMixin from '../entities/user/GetUserProfileMixin'
import PatchUserProfileMixin from '../entities/user/PatchUserProfileMixin'

import StepOperationSwiperJsMixin from '../mixins/StepOperationSwiperJsMixin'

import SwiperJs from '../elements/swiper/SwiperJs'

import AccountsCard from './AccountsCard'
import UserAvatarUploadField from '../entities/user/UserAvatarUploadField'
import UserProfile from '../entities/user/UserProfile'
import MdcTextField from '../elements/input/MdcTextField'
import MdcPlaceInput from '../elements/input/MdcPlaceInput'
import MdcTextArea from '../elements/input/MdcTextArea'

import GoogleMapsBackgroundElement from '../elements/map/GoogleMapsBackgroundElement'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'UserProfileUpdateView',
  mixins: [
    StepOperationSwiperJsMixin,
    ErrorResponseMixin,
    FieldValidatorsMixin,
    BrowserFingerprintMixin,
    CredentialsTypeMixin,
    NextUrlMixin,
    CheckUserExistenceMixin,
    GetUserProfileMixin,
    PatchUserProfileMixin
  ],
  components: {
    SwiperJs,
    AccountsCard,
    UserAvatarUploadField,
    UserProfile,
    MdcTextField,
    MdcTextArea,
    MdcPlaceInput,
    GoogleMapsBackgroundElement
  },
  data () {
    return {
      stepOperation: {
        key: 'update_user_profile',
        name: 'Update user profile',
        description: gettext('User profile update'),
        activeStep: null,
        steps: [{
          key: 'fetch_profile',
          name: 'Fetch profile',
          description: gettext('Fetching profile..'),
          next: 'view_profile',
          result: null,
          error: null
        },
        {
          key: 'view_profile',
          name: 'View profile',
          description: null,
          next: 'edit_field',
          result: null,
          error: null
        },
        {
          key: 'edit_field',
          name: 'Edit field',
          description: null,
          enabled: false,
          next: 'update_field',
          result: null,
          error: null
        },
        {
          key: 'update_field',
          name: 'Update field',
          description: gettext('Updating..'),
          enabled: false,
          next: null,
          result: null,
          error: null
        }]
      },

      updateImageText: gettext('Click to choose a picture.'),

      updatingField: null,
      updatingValue: null,

      updateError: null,

      googleMap: null
    }
  },
  computed: {
    validationError: {
      get () {
        return this.getStepError('edit_field')
      },
      set (val) {
        this.setStepError('edit_field', val)
      }
    }
  },
  mounted: function () {
    // console.log('UserProfileUpdateView mounted', this.$route)

    this.$on('userProfileFetched', (profile) => {
      this.stepCompleted('fetch_profile', profile)
    })
    this.$on('errorFetchingUserProfile', () => {
      this.goToLogin()
    })

    this.$on('userProfilePatched', (response) => {
      setTimeout(() => {
        if (this.updatingField === 'email' || this.updatingField === 'password') {
          this.stepCompleted('update_field', response, 'fetch_profile')
        } else {
          this.userProfile = response.data
          this.stepCompleted('update_field', response, 'view_profile')
        }
      }, 2000)
    })
    this.$on('errorPatchingUserProfile', (error) => {
      let parsedError = this.parseError(error)
      this.updateError = parsedError
      this.stepFailed('update_field', parsedError)
    })
  },
  methods: {
    getTabindex (field) {
      if (field === this.updatingField && this.activeStep === 'edit_field') {
        return 1
      } else {
        return -1
      }
    },
    userPictureChanged (ev) {
      // console.log('userPictureChanged', ev)
      this.updatingValue = ev.avatar
    },
    userPositionChanged (position) {
      // console.log('User position changed', position)
      if (position) {
        this.updatingValue = position
      } else {
        this.updatingValue = null
      }
    },
    stepActivated (step) {
      // console.log('UserProfileUpdateView activating step', step)
      if (step === 'fetch_profile') {
        this.fetchUserProfile()
      } else if (step === 'view_profile') {
        this.updatingValue = null
      } else if (step === 'edit_field') {
        this.validationError = null
      } else if (step === 'update_field') {
        this.updateError = null
        if (this.updatingField !== 'picture') {
          this.$refs.updatingValueInput.blur()
        }
        this.patchUserProfile(this.getStepResult('edit_field'))
      }
    },
    askUpdateField (field) {
      // console.log('askUpdateField received', field)
      this.updatingField = field
      this.stepCompleted('view_profile', field)
    },
    getFieldName (f) {
      if (f === 'email') {
        return gettext('E-mail')
      } else if (f === 'first_name') {
        return gettext('Name')
      } else if (f === 'last_name') {
        return gettext('Last name')
      } else if (f === 'description') {
        return gettext('Description')
      } else if (f === 'birthdate') {
        return gettext('Birthdate')
      } else if (f === 'address') {
        return gettext('Address')
      } else if (f === 'password') {
        return gettext('Password')
      } else {
        return ''
      }
    },
    fieldUpdated () {
      if (this.updatingField) {
        let obj = {}
        let valid = true

        if (this.updatingField === 'email') {
          if (!this.validateEmail(this.updatingValue)) {
            this.validationError = gettext('Check e-mail.')
            valid = false
          }
        } else if (this.updatingField === 'password') {
          if (!this.validatePassword(this.updatingValue)) {
            this.validationError = gettext('Password must be at least 8 characters long.')
            valid = false
          }
        } else if (this.updatingField === 'first_name') {
          if (!this.validateFirstName(this.updatingValue)) {
            this.validationError = gettext('Invalid first name.')
            valid = false
          }
        } else if (this.updatingField === 'last_name') {
          if (!this.validateFirstName(this.updatingValue)) {
            this.validationError = gettext('Invalid last name.')
            valid = false
          }
        }

        if (this.updatingField === 'address') {
          if (this.updatingValue) {
            obj = this.updatingValue
          } else {
            this.validationError = gettext('Set position.')
            valid = false
          }
        } else {
          obj[this.updatingField] = this.updatingValue
        }

        if (valid) {
          // console.log(this.updatingField, 'field updated', obj)
          this.stepCompleted('edit_field', obj)
        }
      }
    },
    goToLogin () {
      // window.location.href = '/login/'
      this.$router.push({
        path: '/login/'
      })
    },
    slideChanged (step) {
      if (step === 'edit_field') {
        if (this.updatingField !== 'picture') {
          this.$refs.updatingValueInput.clear()
        }
      }
    },
    backgroundMapLoaded (map) {
      this.googleMap = map
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../scss/theme";

.userProfileUpdateView {

  .swiper-slide {
    position: relative;

    .updatingFieldSlideContent {
      z-index: 3;
    }
    .darkBackground {
      background-color: rgba(0,0,0,0.3);
    }
    .scrollable {
      padding: 32px 0;
      height: 100%;

      @media ( min-height: 640px ) {
        height: auto;
      }
    }
  }
}
</style>
