<template>
  <transition name="fade">
    <div class="mapBackground" ref="mapBackground" v-show="!hidden" style="position: absolute"></div>
  </transition>
</template>

<script>
import GoogleMapsElementMixin from './GoogleMapsElementMixin'

export default {
  name: 'GoogleMapsBackgroundElement',
  mixins: [
    GoogleMapsElementMixin
  ],
  props: {
    hidden: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    init () {
      this.googleMap = new this.googleMaps.Map(this.$refs.mapBackground, {
        zoom: this.mapZoom,
        center: this.mapCenter,
        disableDefaultUI: true,
        draggable: false,
        noClear: true,
        gestureHandling: false
      })
      this.$emit('loaded', this.googleMap)
    },
    googleMapsLoaded () {
      if (!this.hidden) {
        this.init()
      }
    }
  },
  watch: {
    hidden (n) {
      // console.log('GoogleMapsBackgroundElement hidden state changed', n)
      if (!n) {
        if (!this.googleMap) {
          this.init()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.mapBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
