<template>
  <div class="overLayer flex-row flex-center-y">
    <slot>
      <heart-beat>
        <img
          src="../../../assets/loader.png" alt="loading.." class="animated"/>
      </heart-beat>
    </slot>
  </div>
</template>

<script>
import HeartBeat from '../../animations/HeartBeat'

export default {
  name: 'LoadingBox',
  components: {
    HeartBeat
  },
  props: {
    dark: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-center-y {
  align-items: center;
  justify-content: center;
}

.overLayer {
  position: absolute;
  z-index: 2;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.85);
}

</style>
