<template>
  <MdcTextField
    ref="input"
    v-model="addressInput"
    :name="name"
    :tabindex="tabindex"
    >
  </MdcTextField>
</template>

<script>
import LoadingElementMixin from '../../mixins/LoadingElementMixin'
import GoogleMapsElementMixin from '../map/GoogleMapsElementMixin'

import MdcTextField from './MdcTextField'

export default {
  name: 'MdcPositionInput',
  mixins: [
    LoadingElementMixin,
    GoogleMapsElementMixin
  ],
  components: {
    MdcTextField
  },
  props: {
    watchBoundMap: {
      type: Boolean,
      default: false
    },
    boundMap: {
      type: Object,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    tabindex: {
      type: [String, Number],
      default: 0
    }
  },
  data () {
    return {
      autocomplete: null,
      addressInput: null,
      computedPlace: null,
      marker: null
    }
  },
  methods: {
    clear () {
      this.$refs.input.clear()
      this.computedPlace = null
      this.$emit('placeChanged', null)
    },
    blur () {
      this.$refs.input.blur()
    },
    initAutocomplete () {
      if (!this.loading) {
        if (!this.autocomplete) {
          this.autocomplete = new this.googleMaps.places.Autocomplete(this.$refs.input.$refs.input)

          if (this.boundMap) {
            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            this.autocomplete.bindTo('bounds', this.boundMap)

            this.marker = new this.googleMaps.Marker({
              map: this.boundMap,
              anchorPoint: new this.googleMaps.Point(this.mapCenter.lat, this.mapCenter.lng)
            })
          }
          // Set the data fields to return when the user selects a place.
          this.autocomplete.setFields(['address_components', 'geometry', 'icon', 'name', 'formatted_address'])

          this.autocomplete.addListener('place_changed', this.placeChanged)

          // this.boundMap.addListener('center_changed', () => {
          //  console.log('MADONNA')
          // })

          this.stopLoading()
        }
      }
    },
    googleMapsLoaded () {
      if (this.watchBoundMap && !this.boundMap) {
        // console.log('boundMap loading, waiting for change..')
      } else {
        this.initAutocomplete()
      }
    },
    placeChanged () {
      let place = this.autocomplete.getPlace()

      if (!place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        window.alert("No details available for input: '" + place.name + "'")
        return
      }

      if (this.boundMap) {
        this.marker.setVisible(false)

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          this.boundMap.fitBounds(place.geometry.viewport)
        } else {
          this.boundMap.setCenter(place.geometry.location)
          this.boundMap.panTo(place.geometry.location)
          this.boundMap.setZoom(17) // Why 17? Because it looks good.
        }
        this.marker.setPosition(place.geometry.location)
        this.marker.setVisible(true)
      }

      this.setPlace(place)
    },
    setPlace (place) {
      if (place && place.address_components) {
        // console.log('setPlace', place)
        let country = null
        place.address_components.forEach((el) => {
          el.types.forEach((t) => {
            if (t === 'country') {
              country = el.short_name
            }
          })
        })

        let address = place.formatted_address
        // if (place.address_components) {
        //   address = [
        //     (place.address_components[0] && place.address_components[0].short_name) || '',
        //     (place.address_components[1] && place.address_components[1].short_name) || '',
        //     (place.address_components[2] && place.address_components[2].short_name) || ''
        //   ].join(' ')
        // }

        this.computedPlace = {
          address: address,
          country: country,
          latitude: place.geometry.location.lat(),
          longitude: place.geometry.location.lng()
        }
      } else {
        this.computedPlace = null
      }

      this.$emit('placeChanged', this.computedPlace)
    }
  },
  watch: {
    boundMap (n, o) {
      // console.log('boundMap CHANGED!!', n, o)
      this.initAutocomplete()
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

</style>
