t<template>
  <div ref="inputContainer"
    class="mdc-text-field mdc-text-field mdc-text-field--textarea mdc-elevation-transition mdcTextArea"
    >
    <textarea ref="input"
      class="mdc-text-field__input"
      :name="name"
      :rows="rows"
      :cols="cols"
      :disabled="disabled"
      :placeholder="placeholder"
      :tabindex="tabindex"
      @input='evt=>value=evt.target.value'
      ></textarea>
  </div>
</template>

<script>
import MdcTextFieldMixin from './MdcTextFieldMixin'

export default {
  name: 'MdcTextArea',
  mixins: [
    MdcTextFieldMixin
  ],
  props: {
    rows: {
      type: [String, Number],
      default: 5
    },
    cols: {
      type: [String, Number],
      default: 30
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/elevation/mdc-elevation";

.mdc-text-field--textarea {
  @include mdc-elevation(1);
  @include mdc-text-field-textarea-fill-color($mdc-theme-secondary-bg);
  @include mdc-text-field-textarea-stroke-color($mdc-theme-primary);
  @include mdc-text-field-outline-color(transparent);
  @include mdc-text-field-caret-color($mdc-theme-secondary);

  border-radius: 4px;

  .mdc-text-field__input {
    padding-top: 16px;
  }
}

.mdc-text-field--focused {
  @include mdc-elevation(6);
}

.mdc-text-field--textarea.mdc-text-field--focused {
  @include mdc-text-field-textarea-stroke-color($mdc-theme-primary);
}

</style>
