<template>
  <div ref="inputContainer"
    class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon mdc-elevation-transition baseInput"
    >
    <i ref="icon"
      class="material-icons mdc-text-field__icon"
      v-html="icon"
      role="button"
      @click="clear"
      :tabindex="nextTabindex(tabindex)"></i>

    <label class="mdc-floating-label">
      {{label}}
    </label>

    <input ref="input"
      class="mdc-text-field__input"
      :type="type"
      :aria-label="label"
      @input='evt=>value=evt.target.value'
      :placeholder="placeholder"
      :name="name"
      :tabindex="tabindex"
      @keyup.enter="$emit('submitted')">
  </div>
</template>

<script>
import MdcTextFieldMixin from './MdcTextFieldMixin'

export default {
  name: 'MdcTextField',
  mixins: [
    MdcTextFieldMixin
  ]
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/elevation/mdc-elevation";

.mdc-text-field {
  @include mdc-elevation(1);
  @include mdc-text-field-fill-color($mdc-theme-secondary-bg);
  @include mdc-text-field-icon-color($mdc-theme-secondary);
  @include mdc-text-field-outline-color(transparent);
  @include mdc-text-field-caret-color($mdc-theme-secondary);

  border-radius: 4px;

  .mdc-text-field__input {
    border-radius: 4px;
  }
}

.mdc-text-field--focused {
  @include mdc-elevation(6);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: $mdc-theme-secondary;
}
</style>
