<template>
  <div class="userProfile card" v-if="userProfile">
    <div class="media">
      <user-avatar
        :picture="userProfile.picture"
        @pictureClicked="imageClicked"
      >
      </user-avatar>
    </div>

    <div class="content">
      <h2 class="username">
        {{userProfile.username}}
      </h2>

      <div>
        <div class="userProfileField" v-for="(item, index) in profileFields" :key="index">
          <div class="info">
            <div class="label">
              {{ getFieldName(item) }}:
            </div>
            <div class="field">
              <div class="value">
                {{ getProfileFieldValue(item) }}
              </div>
            </div>
          </div>
          <div class="action">
            <button
              class="mdc-icon-button material-icons"
              aria-hidden="true"
              aria-pressed="false"
              v-if="canUpdate"
              name="update"
              @click="askUpdateField(item)">edit</button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FieldValidatorsMixin from '../../mixins/FieldValidatorsMixin'
import ErrorResponseMixin from '../../mixins/ErrorResponseMixin'

import UserAvatar from './UserAvatar'

let gettext = window.gettext || function (x) { return x }

export default {
  name: 'UserProfile',
  mixins: [
    FieldValidatorsMixin,
    ErrorResponseMixin
  ],
  components: {
    UserAvatar
  },
  props: {
    profile: {
      type: Object,
      default: null
    },
    canUpdate: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      updateEnabled: false,
      userProfile: null,
      updateProfileMessage: gettext('Profile'),

      emailError: null,
      userEmail: null,

      usernameError: null,
      userUsername: null,

      passwordError: null,
      userPassword: null,
      userPassword2: null,

      userFirstName: null,
      userFirstNameError: null,

      userLastName: null,

      userDescription: null,

      userPosition: null,
      userPositionError: null,

      userPictureError: null,
      userPicture: null,

      updateError: null,

      profileFields: [
        'email', 'password', 'first_name', 'last_name', 'address', 'description'// , 'birthdate'
      ]
    }
  },
  watch: {
    profile: function (profile) {
      if (profile) {
        this.userProfile = profile
      }
    }
  },
  methods: {
    getFieldName (f) {
      if (f === 'email') {
        return gettext('E-mail')
      } else if (f === 'first_name') {
        return gettext('Name')
      } else if (f === 'last_name') {
        return gettext('Last name')
      } else if (f === 'description') {
        return gettext('Description')
      } else if (f === 'birthdate') {
        return gettext('Birthdate')
      } else if (f === 'address') {
        return gettext('Address')
      } else if (f === 'password') {
        return gettext('Password')
      } else {
        return ''
      }
    },
    getProfileFieldValue (f) {
      if (f !== 'password') {
        return this.userProfile[f]
      } else {
        return '********'
      }
    },
    askUpdate () {
      this.$emit('askUpdateProfile', this.userProfile)
    },
    askUpdateField (field) {
      this.$emit('askUpdateField', field)
    },
    imageClicked () {
      this.askUpdateField('picture')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

@import "@material/elevation/mdc-elevation";
@import "@material/icon-button/mdc-icon-button";

.userProfile {
  @include mdc-elevation(2);

  padding-left: 24px;

  .username {
     margin: 24px 0 16px;
  }

  .userProfileField {
    position: relative;
    margin-bottom: 4px;
    text-align: left;

    .info {
      width: 80%;
      float: left;

      .label {
        font-weight: bold;
      }

      .value {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .action {
      width: 20%;
      float: left;

      .material-icons {
        color: #4e4e4e;
        margin-left: 16px;
        float: right;
      }
    }
  }
}
</style>
