<template>
  <div
    ref="userAvatar"
    class="userAvatar"
  >
    <div
      ref="picture"
      class="roundPicture"
      :style="pictureStyle"
      @click="clicked">
      <i class="material-icons" v-show="picture === null">
      person
      </i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserAvatar',
  props: {
    picture: {
      type: String,
      default: null
    }
  },
  computed: {
    pictureStyle () {
      let style = {}
      if (this.picture) {
        style['background-image'] = 'url(\'' + this.picture + '\')'
      }
      return style
    }
  },
  methods: {
    clicked () {
      this.$emit('pictureClicked', this.picture)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../scss/theme";

.userAvatar {
  cursor: pointer;

  .roundPicture {
    display: block;
    margin: 0 auto;
    border-radius: 999px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: $mdc-theme-secondary-bg;
    background-repeat: no-repeat;
    background-size: cover;

    .material-icons {
      font-size: 100px;
      color: #3e3e3e;
    }
  }
}

</style>
