<template>
  <div class="userAvatarUploadField"
  >
    <div class="media">
      <user-avatar
        :picture="avatar"
        @pictureClicked="$refs.file.click()"
      >
      </user-avatar>
    </div>

    <div class="content"
      >
      <input
        ref="file"
        :name="name"
        style="display:none"
        type="file"
        @change="onChange"
        :accept=accept />
      <h3 class="text-xs-center bold">
        <a
          class="link white--text"
          alt="Picture"
          @click="$refs.file.click()"
          >
          {{ placeholder }}
        </a>
      </h3>
    </div>
  </div>
</template>

<script>
import UserAvatar from './UserAvatar'

if (!window.FileReader) {
  throw new Error('Your browser does not support FileReader API!')
}
let gettext = window.gettext || function (x) { return x }

export default {
  name: 'UserAvatarUploadField',
  components: {
    UserAvatar
  },
  props: {
    name: {
      type: String,
      default: 'picture'
    },
    placeholder: {
      type: String,
      default: gettext('Choose image')
    },
    accept: {
      type: String,
      default: 'image/png,image/gif,image/jpeg'
    },
    maxSize: {
      type: Number,
      default: 10 // megabytes
    }
  },
  data () {
    return {
      customImageMaxSize: 3,
      avatar: null,
      file: null
    }
  },
  methods: {
    scaleImage (url, width, height, callback) {
      let img = new Image()
      // When the images is loaded, resize it in canvas.
      img.onload = function () {
        // https://gist.github.com/VMBindraban/1be9cd5eceb347bef860
        let canvas = document.createElement('canvas')
        let ctx = canvas.getContext('2d')
        let xStart = 0
        let yStart = 0
        let aspectRadio
        let newWidth
        let newHeight

        canvas.width = width
        canvas.height = height

        aspectRadio = img.height / img.width

        if (img.height < img.width) {
          // horizontal
          aspectRadio = img.width / img.height
          newHeight = height
          newWidth = aspectRadio * height
          xStart = -(newWidth - width) / 2
        } else {
          // vertical
          newWidth = width
          newHeight = aspectRadio * width
          yStart = -(newHeight - height) / 2
        }

        ctx.drawImage(img, xStart, yStart, newWidth, newHeight)
        let data = canvas.toDataURL('image/png')
        callback(data)
      }
      img.src = url
    },
    onChange (e) {
      const files = e.target.files || e.dataTransfer.files

      if (!files.length) {
        return
      }

      const file = files[0]
      const size = file.size && (file.size / Math.pow(1000, 2))

      // check file max size
      if (size > this.maxSize) {
        alert(`Image ${size}Mb size exceeds limits of ${this.customImageMaxSize}Mb!`)
        return
      }

      // update file
      this.file = file

      const reader = new FileReader()

      reader.onload = e => {
        const dataURI = e.target.result

        if (dataURI) {
          this.scaleImage(dataURI, 100, 100, (data) => {
            // console.log('image scaled', data)
            this.avatar = data
            this.$emit('change', {avatar: data})
          })
        }
      }

      // read blob url from file data
      reader.readAsDataURL(file)
    }
  }
}
</script>

<style scoped>
input[type="file"] {
  z-index: 9999;
  color: $mdc-theme-primary;
}
</style>
