<template>
  <router-view>
  </router-view>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  computed: {
    lang () {
      // return this.$store.state.lang
      return this.$route.params.lang
    },
    section () {
      // return this.$store.state.section
      return this.$route.params.section
    },
    detail () {
      // return this.$store.state.detail
      return this.$route.params.detail
    }
  }
}
</script>

<style lang="scss">
@import "./scss/theme";

</style>
