@import "./flexbox";

/* $mdc-theme-primary: #63ba9e; */
/* $mdc-theme-primary: #2AFDAF; */

$mdc-theme-primary: #333;
$mdc-theme-primary-bg: #efefef;
$mdc-theme--on-primary: #333;

$mdc-theme-secondary: #222;
$mdc-theme-secondary-bg: #fff;
$mdc-theme--on-secondary: #222;

$celeste: #73aeae;
/* $grigio: #455963; */
$grigio: #EBEEF0;
/* $selected: #ff4081; */
$selected: #FF3F80;

$break-phone: 480px;
$break-tablet: 840px;

html, body {
  height: 100%;
  background-color: $mdc-theme-primary-bg;
  font-family: Roboto, Arial, sans-serif;
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

h3 {
  font-size: 17px;
  font-weight: normal;
}

a {
  font-weight: bold;
  color: $mdc-theme-primary;
}

.bold {
  font-weight: bold;
}

.red--text {
  color: #f44336;

  a {
    color: #f44336;
  }
}

.mdc-typography {
  font-family: 'Roboto', Arial, sans-serif;
}

.footer_copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 8px;
  font-size: 12px;
  color: $mdc-theme-primary;
}

.flex-center-y {
  height: 100%;
  width: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.error {
  color: $selected;
  font-weight: bold;
}

.scrollable {
  overflow-y: auto;
}

.fillHeight {
  height: 100%;
  width: 100%;
  position: relative;

  .swiper-container {
    height: 100%;
    width: 100%;
    margin: 0;

    .swiper-slide {
      position: relative;
      height: 100%;
      overflow: hidden;

      display: table;
    }
  }
}

.link {
  text-decoration: underline
}

.clear {
  clear: both;
}

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.actions {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  /*
  @include flexbox();
  @include flex-direction(row);

  align-items: center;
  justify-content: center;
  */
  .separator, .divider {
    /*@include flexbox();
    @include flex(1);*/
    float: left;
  }
  .mdcButton {
    max-width: 50%;
  }
}

.card {
  position: relative;
  background-color: $mdc-theme-secondary-bg;
  color: $mdc-theme-secondary;
  padding: 24px 16px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.termsOfService {
  height: 140px;
  overflow-y: auto;
  margin-top: 16px;
  padding: 16px;
  text-align: justify;
  background-color: $mdc-theme-secondary-bg;
  color: $mdc-theme-secondary;
  border-radius: 3px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
